<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://java.sun.com/jsf/html">

<h:head>
    <title>Main page with JSF tech</title>
</h:head>

<h:body>
    <h:form>
        <h3>Enter a data to welcome with name and password</h3>
        <table>
            <tr>
                <td>Name:</td>
                <td><h:inputText value="username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><h:inputText value="password"/></td>
            </tr>
        </table>
        <p:commandButton value="Login" action="acceptPage"/>
    </h:form>

    <h:outputText value="#{requestScopeBean.defaultMessage}"/>
    <h:outputText value="some text"/>
    #{requestScopeBean.printCurrentData()}

</h:body>


</html>