<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:outputLabel value="Hello from output label"/>

<h:inputText value="some"/>
<h:commandButton value="Push the button for get text" action=""/>

<f:view>
    <h:outputLabel value="Welcome message from xml-configured bean: #{helloWorldXmlBased.message}"/>
    <h:outputLabel value="Welcome message from annotation-configured bean: #{jsfAnnotationConfiguredBean.message}"/>
</f:view>

</html>
